h2{color: blue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: brown;
width: 50%;}
p{border: 10px solid yellow;
border-radius: 30px;}
h4{color: coral;}